<form>

  <div class="form-group">
    <label>Name:
      <input name="name" type="text" class="form-control" required
      [(ngModel)]="model.name">
    </label>
  </div>

  <div class="form-group">
    <label>Age:
      <input name="age" type="text" class="form-control" required
             [(ngModel)]="model.age">
    </label>
  </div>

  <div class="form-group">
    <label>Role:
      <select name="role" class="form-control" required [(ngModel)]="model.role">
        <option *ngFor="let role of roles" [value]="role">{{role}}</option>
      </select>
    </label>
  </div>

</form>

<p>{{diagnostic}}</p>



