<form [formGroup]="userForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="login">Login: <span class="text-danger">*</span></label>
    <input id="login" type="text" class="form-control is-valid" placeholder="{{placeHolders.login}}"
           formControlName="login"
    [ngClass]="{'is-valid': login.valid, 'is-invalid': login.invalid && login.touched}">
<!--    <div class="alert alert-danger" *ngIf="formErrors.login">{{formErrors.login}}</div>-->
    <div *ngIf="login.valid" class="valid-feedback">{{formSuccess.login}}</div>
    <div *ngIf="login.invalid && login.touched" class="invalid-feedback">{{formErrors.login}}</div>
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input id="password" type="password" class="form-control" placeholder="{{placeHolders.password}}" formControlName="password">
<!--    <div class="alert alert-danger" *ngIf="formErrors.password">{{formErrors.password}}</div>-->
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input id="email" type="email" class="form-control" placeholder="{{placeHolders.email}}" formControlName="email">
<!--    <div class="alert alert-danger" *ngIf="formErrors.email">{{formErrors.email}}</div>-->
  </div>

  <div class="form-group">
    <label for="age">Age:</label>
    <input id="age" type="number" class="form-control" placeholder="{{placeHolders.age}}" formControlName="age">
<!--    <div class="alert alert-danger" *ngIf="formErrors.age">{{formErrors.age}}</div>-->
  </div>

  <div class="form-group">
    <label for="role">Role:</label>
    <select id="role" class="form-control" formControlName="role">
      <option [value]="null" selected disabled>{{placeHolders.role}}</option>
      <option *ngFor="let role of roles" [value]="role">{{role}}</option>
    </select>
    <div class="alert alert-danger" *ngIf="formErrors.role">{{formErrors.role}}</div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-info" [disabled]="userForm.invalid">Submit</button>
  </div>

</form>


<!--<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" novalidate>-->
<!--  <div class="form-group">-->
<!--    <label for="login">Login:</label>-->
<!--    <input id="login" type="text" class="form-control"-->
<!--            formControlName="login">-->
<!--    <div class="alert alert-danger"-->
<!--         *ngIf="loginForm.get('login').hasError('required') && loginForm.get('login').touched" >-->
<!--          Login is required.-->
<!--    </div>-->

<!--    <div class="alert alert-danger"-->
<!--         *ngIf="loginForm.get('login').hasError('minlength') && loginForm.get('login').touched" >-->
<!--          Login must be at least 10 characters.-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="form-group">-->
<!--    <label for="password">Password:</label>-->
<!--    <input id="password" type="text" class="form-control"-->
<!--            formControlName="password">-->
<!--    <div class="alert alert-danger"-->
<!--         *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched" >-->
<!--      Password is required.-->
<!--    </div>-->

<!--    <div class="alert alert-danger"-->
<!--         *ngIf="loginForm.get('password').hasError('minlength') && loginForm.get('password').touched" >-->
<!--      Login must be at least 8 characters.-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="form-group">-->
<!--    <button type="submit" class="btn btn-info"-->
<!--    [disabled]="loginForm.invalid">Submit</button>-->
<!--  </div>-->

<!--</form>-->


<!--<form (ngSubmit)="onSubmit()" #userForm="ngForm">-->

<!--  <div class="form-group">-->
<!--    <label for="name">Name:</label>-->
<!--      <input id="name" name="name" type="text" class="form-control" #name="ngModel"-->
<!--             required-->
<!--             minlength="4"-->
<!--             maxlength="10"-->
<!--             [(ngModel)]="model.name">-->
<!--    &lt;!&ndash;(input)="errorsLog(name.errors)"&ndash;&gt;-->

<!--    <div *ngIf="formErrors.name" class="alert alert-danger">-->
<!--      {{formErrors.name}}-->
<!--    </div>-->
<!--    &lt;!&ndash;<div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">-->
<!--      <div *ngIf="name.errors.required">Name is required.</div>-->
<!--      <div *ngIf="name.errors.minlength">Name must be at least 4 characters.</div>-->
<!--    </div>&ndash;&gt;-->
<!--  </div>-->

<!--  <div class="form-group">-->
<!--    <label for="age">Age:</label>-->
<!--      <input id="age" name="age" type="text" class="form-control" required #age="ngModel"-->
<!--             [(ngModel)]="model.age">-->

<!--    <div *ngIf="formErrors.age" class="alert alert-danger">-->
<!--      {{formErrors.age}}-->
<!--    </div>-->
<!--    &lt;!&ndash;<div *ngIf="age.invalid && (age.dirty || age.touched)" class="alert alert-danger">-->
<!--      Age is required.-->
<!--    </div>&ndash;&gt;-->
<!--  </div>-->

<!--  <div class="form-group">-->
<!--    <label for="role">Role:</label>-->
<!--      <select id="role" name="role" class="form-control" required [(ngModel)]="model.role">-->
<!--        <option *ngFor="let role of roles" [value]="role">{{role}}</option>-->
<!--      </select>-->
<!--  </div>-->

<!--  <div class="form-group">-->
<!--    <button (click)="onSubmit()" class="btn btn-info"-->
<!--            [disabled]="userForm.invalid">Send</button>-->
<!--  </div>-->

<!--</form>-->

<!--<p>{{diagnostic}}</p>-->



